body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #5f72bd, #9b23ea);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.courses-table {
    margin-bottom: 20px;
}

.course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #222222;
    border: 1px solid #444444;
    border-radius: 5px;
}

.course-label {
    flex: 1;
    text-align: center;
    color: #ffffff;
}

.course-name {
    flex: 1;
    padding: 8px;
    border: 1px solid #444444;
    border-radius: 5px;
    color: #ffffff;
    background-color: #6c757d;
}

.course-name::placeholder {
    color: #ffffff;
}

.grade-dropdown {
    flex: 1;
    padding: 8px;
    border: 1px solid #444444;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #6c757d;
}

.grade-dropdown option {
    background-color: #222222;
}

.credits {
    flex: 1;
    padding: 8px;
    border: 1px solid #444444;
    border-radius: 5px;
    color: #ffffff;
    background-color: #6c757d;
}

.credits::placeholder {
    color: #ffffff;
}

.remove-course {
    padding: 5px;
    font-size: 0.8em;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.remove-course:hover {
    background-color: #c82333;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button#calculate {
    background-color: #28a745;
    color: #ffffff;
}

button#calculate:hover {
    background-color: #218838;
}

button#reset {
    background-color: #dc3545;
    color: #ffffff;
}

button#reset:hover {
    background-color: #c82333;
}

button#add-course {
    background-color: #007bff;
    color: #ffffff;
}

button#add-course:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
}
